<!--    <a href="/coins">Cadastro de Moedas (via html)</a>-->
<%= link_to "#{Coin.model_name.human(count: 2)}", coins_path, class:"btn btn-primary btn-lg", role:"button" %> <!--Via helper-->
<%= link_to "#{MiningType.model_name.human(count: 2)}", mining_types_path, class:"btn btn-primary btn-lg", role:"button" %> <!--Via helper-->
