<div class="jumbotron">
  <h1 class="display-4"><%= t('app_name') %></h1>
  <p class="lead"><%= t('home_messages.1') %></p>
  <hr class="my-4">
  <p><%= t('home_messages.2') %></p>
  <%= render "menu" %>
</div>


